.pokemons__list {
  display:grid;
  grid-template-columns: auto auto auto auto auto;
}
.pokemon__container {
  text-align: center;
  border: 2px solid gray;
  background-color: rgb(22, 122, 13);
  border-radius: 8px;
  width:125px;
  height: 175px;
}

.pokemon__name {
  text-transform: capitalize;
}

.pokemon__types {
  display:flex;
  list-style: none;
}